<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>
    <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
        FirstName : <input type="text" th:field="*{firstName}" />

        <br/><br/>

        LastName : <input type="text" th:field="*{lastName}">

        <br/><br/>

        Country:
        <select th:field="*{country}">
<!--          <option th:value="Brazil">Brazil</option>-->
<!--          <option th:value="France">France</option>-->
<!--          <option th:value="Germany">Germany</option>-->
<!--          <option th:value="India">India</option>-->

            <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
        </select>

        <br/><br/>
        Favourite Programming Language:
<!--        <input type="radio" th:field="*{favouriteLanguage}" th:value="Go" th:text="Go" />-->
<!--        <input type="radio" th:field="*{favouriteLanguage}" th:value="Java" th:text="Java" />-->
<!--        <input type="radio" th:field="*{favouriteLanguage}" th:value="Python" th:text="Python"/>-->
        <input type="radio" th:field="*{favouriteLanguage}" th:each="tempLanguage : ${languages}" th:value="${tempLanguage}" th:text="${tempLanguage}"/>

        <br><br>
        Favourite System:
        <input type="checkbox" th:field="*{favouriteSystems}" th:value="Linux" th:text="Linux"/>
        <input type="checkbox" th:field="*{favouriteSystems}" th:value="macOS" th:text="macOs"/>
        <input type="checkbox" th:field="*{favouriteSystems}" th:value="'Microsoft Windows'" th:text="'Microsoft Windows'"/>
        <br/><br/>

        <input type="Submit" value="Submit">
    </form>
</body>
</html>